# Xcode
#
# gitignore contributors: remember to update Global/Xcode.gitignore, Objective-C.gitignore & Swift.gitignore

## 用户设置
xcuserdata/
*.xcuserstate

## 兼容性
*.moved-aside
*.xccheckout
*.xcscmblueprint

## App 打包
*.ipa
*.dSYM.zip
*.dSYM

## Playgrounds
timeline.xctimeline
playground.xcworkspace

# Swift Package Manager
#
# 添加此行以忽略所有 Swift Package Manager 的依赖，这些依赖可以通过 Package.resolved 重新生成
.build/
Packages/
Package.pins
Package.resolved

# CocoaPods
#
# 建议不要忽略 Podfile.lock 文件，因为它用于确保所有开发者使用相同版本的 pods
Pods/
*.xcworkspace

# Carthage
#
# 添加此行以忽略 Carthage 构建产物
Carthage/Build/

# fastlane
#
# fastlane 特定的文件
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output

# Code Injection
#
# InjectionIII 产生的文件
iOSInjectionProject/

# OS X 临时文件
.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# 可能出现在卷根目录中的文件
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# IDE
#
# VSCode 配置文件
.vscode/
.idea/

# Cursor IDE
.cursor/

# 项目特定的忽略
build/
DerivedData/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3 